<section class="container-fluid py-5 clearfix">
  <figure class="figure float-end col-md-7" style="padding: 15px">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/30/First_phase_of_the_Battle_of_Marathon-_the_two_armies_form_their_lines.svg/800px-First_phase_of_the_Battle_of_Marathon-_the_two_armies_form_their_lines.svg.png"
      class="figure-img img-fluid rounded" />
    <figcaption class="figure-caption">Initial Sitaution from <a
        href="https://en.wikipedia.org/wiki/Battle_of_Marathon">Wikipedia</a></figcaption>
  </figure>
  <p>
    The Persians had somewhere from 60,000 - 100,000 soldiers while the Athenians had only
    9,000 - 10,000 athenians and 1,000 Plataeans.
    When the Athenians arrived at Marathon they blocked the two exits to get out Marathon
    which prevented the Persians to advance farther in. Around the same time the Athenians
    sent their best runner known as Pheidippides or Philippides to go to Sparta to ask for help however
    the Spartans were engaged in the festival of Carneia which is a sacred time of peace so
    they couldn't go into battle until the full moon, which meant Athens wasn't getting help
    for at least another 10 days. The Athenians backs were covered by many thick trees so they wouldn't get
    attacked from behind. The Athenians positioned themselves about 1,500 meters away from the Persians and
    spread out their forces so they would cover as much land in width as the Persians so they wouldn't be
    surrounded easily.
  </p>

  <p>To the right is a picture showing the first phase of the Athenians and Persians setting up their armies
    about 1,500 meters away from the Persians and spread out their forces so they would cover as much land in
    width as the Persians so they wouldn't be surrounded easily.
  </p>

</section>



<section class="clearfix">
  <figure class="figure float-start col-md-7" style="padding: 15px">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Second_phase_of_the_Battle_of_Marathon-the_Greeks_attack_and_the_lines_make_contact.svg/800px-Second_phase_of_the_Battle_of_Marathon-the_Greeks_attack_and_the_lines_make_contact.svg.png"
      class="figure-img img-fluid rounded" />
    <figcaption class="figure-caption">Initial Sitaution from <a
        href="https://en.wikipedia.org/wiki/Battle_of_Marathon">Wikipedia</a></figcaption>
  </figure>

  <p>
    The Athenians had the advantage if they waited because they would get reinforcements from Sparta and their
    hoplites had a lot of armor compared to the Persian hoplites however the Persians had more then two times the
    Athenians and the Athenians had a lot more to lose if they attakced first keep in mind that they also took
    all the men they had that could fight so if Athens got attacked while they were at Marathon then no one would
    be there to defend Athens.  Miltiades had to wait until it was his turn to command as general since the Athenians
    had a system of rotating generals everyday so Miltiades waited until it was his turn which was September 11, 490 B.C. 
    The day it was Miltiades turn he simply said the words "at them" and they charged. So the Persians were very shocked 
    and not ready when they saw the Athenians charging at them making the first contact in the battle of Marathon.
  </p>

  <p>
    On the left is the second phase and shows the Athenians charging the whole distance to attack the Persians under command of
    Miltiades.
  </p>


  

</section>
<section class="container-fluid py-5 clearfix">
  <figure class="figure float-end col-md-4" style="padding: 15px">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Third_phase_of_the_Battle_of_Marathon-the_Greek_center_is_pushed_back.svg/800px-Third_phase_of_the_Battle_of_Marathon-the_Greek_center_is_pushed_back.svg.png"
      class="figure-img img-fluid rounded" />
    <figcaption class="figure-caption">Initial Sitaution from <a
        href="https://en.wikipedia.org/wiki/Battle_of_Marathon">Wikipedia</a></figcaption>
  </figure>

  <p>

  </p>

  <p>The Persians attack the Atheians and push the center Athenian force back while the wings of both forces fought.  Then the 
    Athenians wing forces fought back the Persians wing forces retreated to their ships then the Athenians wing forces attacked
    the center Persian forces and made them fall back to their ships and the Athenians captured seven ships in the process.  
    The casualties of the battle was 6,400 Persians, 192 Athenians, and 11 Plataeans.  When the Spartans, along with 
    Pheidippides/Philippides arrived a day after the battle ended after traveling for three days after their cultural 
    festival, barely missing the action.  They then sent Pheidippides/Philippides to run back to Athens to tell their people
    that they had won since they have been given orders to not be prisoners and to kill themselves when they see ships approaching.
    Pheidippides/Philippide, after running 26.2 miles (a marathon) back to Athens, died after saying "nenikēkamen!" which translates
    into "we've won!".
  </p>

  <p>
    Some scholars and historians belive that
    some of the tactics that the Athenians used was by accident however I belive it was it was all planned out first and that
    because the Athenians had more to lose since they were protecting their homes that they cared more and had more courage
    they won and pushed forward to protect their families.

  </p>

</section>
<section class="container-fluid py-5 clearfix">
  <figure class="figure float-end col-md-4" style="padding: 15px">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/eb/Fourth_phase_of_the_Battle_of_Marathon-the_Persian_wings_collapse.svg/800px-Fourth_phase_of_the_Battle_of_Marathon-the_Persian_wings_collapse.svg.png"
      class="figure-img img-fluid rounded" />
    <figcaption class="figure-caption">Initial Sitaution from <a
        href="https://en.wikipedia.org/wiki/Battle_of_Marathon">Wikipedia</a></figcaption>
  </figure>
</section>

<section class="container-fluid py-5 clearfix">
  <figure class="figure float-end col-md-4" style="padding: 15px">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Fifth_phase_of_the_Battle_of_Marathon-the_Persians_are_routed_and_retreat_to_their_ships.svg/800px-Fifth_phase_of_the_Battle_of_Marathon-the_Persians_are_routed_and_retreat_to_their_ships.svg.png"
      class="figure-img img-fluid rounded" />
    <figcaption class="figure-caption">Initial Sitaution from <a
        href="https://en.wikipedia.org/wiki/Battle_of_Marathon">Wikipedia</a></figcaption>
  </figure>
</section>