<section class="container-fluid py-5">
  <figure class="figure float-end col-md-7" style="padding: 15px">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/30/First_phase_of_the_Battle_of_Marathon-_the_two_armies_form_their_lines.svg/800px-First_phase_of_the_Battle_of_Marathon-_the_two_armies_form_their_lines.svg.png"
      class="figure-img img-fluid rounded" />
    <figcaption class="figure-caption">Initial Sitaution from <a
        href="https://en.wikipedia.org/wiki/Battle_of_Marathon">Wikipedia</a></figcaption>
  </figure>
  <p>
    The Persians had somewhere from 60,000 - 100,000 soldiers while the Athenians had only
    9,000 - 10,000 athenians and 1,000 Plataeans.
    When the Athenians arrived at Marathon they blocked the two exits to get out Marathon 
    which prevented the Persians to advance farther in.  Around the same time the Athenians 
    sent their best runner known as Pheidippides or Philippides to go to Sparta to ask for help however 
    the Spartans were engaged in the festival of Carneia which is a sacred time of peace so 
    they couldn't go into battle until the full moon, which meant Athens wasn't getting help 
    for at least another 10 days.  The Athenians backs were covered by many thick trees so they wouldn't get
    attacked from behind.  The Athenians positioned themselves about 1,500 meters away from the Persians and
    spread out their forces so they would cover as much land in width as the Persians so they wouldn't be 
    surrounded easily.
  </p>

  <p>To the right is a picture showing the first phase of the Athenians and Persians setting up their armies
    about 1,500 meters away from the Persians and spread out their forces so they would cover as much land in
    width as the Persians so they wouldn't be surrounded easily.
  </p>
    
</section>


  
<section>
<figure class="figure float-start 8" style="padding: 15px">
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Second_phase_of_the_Battle_of_Marathon-the_Greeks_attack_and_the_lines_make_contact.svg/800px-Second_phase_of_the_Battle_of_Marathon-the_Greeks_attack_and_the_lines_make_contact.svg.png"
    class="figure-img img-fluid rounded" />
  <figcaption class="figure-caption">Initial Sitaution from <a
      href="https://en.wikipedia.org/wiki/Battle_of_Marathon">Wikipedia</a></figcaption>
</figure>

  <p>
    The Athenians had the advantage if they waited because they would get reinforcements from Sparta and their
    hoplites had a lot of armor compared to the Persian hoplites however the Persians had more then two times the 
    Athenians and the Athenians had a lot more to lose if they attakced first keep in mind that they also took 
    all the men they had that could fight.  Miltiades simply said the words "at them" and they charged.  
    The Persians were very shocked and not ready when they saw the Athenians charging them and the Persians also
    
  </p>

  <p>In metus nulla, suscipit eleifend nibh a, sollicitudin porttitor nibh. Fusce auctor nulla sed pharetra feugiat. Duis interdum dolor diam, elementum lacinia libero auctor sit amet. Maecenas cursus venenatis urna sagittis placerat. Maecenas iaculis, est vel aliquet mattis, ipsum ante gravida lorem, et ornare sapien urna sit amet risus. Cras in est ac magna dapibus tempus. Praesent vitae feugiat eros, nec porta urna. Sed vel bibendum arcu. Vivamus viverra fermentum ante ac vehicula. Nullam malesuada id quam nec tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rhoncus pretium quam, vel imperdiet massa scelerisque vitae. Nullam in dui dignissim, lacinia tellus non, viverra turpis.</p>
    
  <p>Integer fringilla bibendum consequat. Ut vitae dui ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut nisl eu justo mattis porta quis nec ante. Morbi vehicula orci sollicitudin ex molestie, at lacinia eros eleifend. Mauris at ex hendrerit, aliquam magna a, egestas sem. Vivamus consectetur nibh eu augue vestibulum, quis pulvinar elit auctor. Aenean at viverra massa, ac vulputate magna. Donec aliquam rhoncus metus, vitae bibendum odio faucibus et.</p>
    
  <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas non lectus libero. Praesent volutpat elit sit amet ligula bibendum porttitor. Curabitur posuere accumsan augue ac bibendum. Integer varius ultrices placerat. Integer bibendum, sapien id tempus ultricies, augue leo consectetur magna, eget iaculis metus augue non ligula. Proin volutpat, mauris a scelerisque semper, urna risus vulputate leo, eu lobortis turpis ipsum sed tellus. Proin faucibus auctor ipsum convallis sodales.</p>
    
  <p>Donec egestas lobortis nisl et volutpat. Fusce id sollicitudin erat. Etiam porttitor neque eu purus tincidunt eleifend. Quisque venenatis tincidunt ipsum, sed ullamcorper arcu tempor sit amet. Curabitur congue tristique lectus, a varius turpis posuere id. Donec dapibus sed risus efficitur fringilla. Vivamus sit amet turpis a nulla accumsan condimentum id sed sem. Pellentesque consequat enim felis, id volutpat erat pulvinar ac. Nunc mauris quam, placerat nec tortor quis, maximus ultricies eros. Nunc posuere metus sit amet dui viverra, vel placerat tortor scelerisque. Morbi mollis metus et sem rhoncus congue. Donec viverra placerat augue, eget sollicitudin erat. Donec efficitur leo vel eros mattis ultricies.</p>

</section>
<section>
<figure class="figure float-end 8" style="padding: 15px">
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Third_phase_of_the_Battle_of_Marathon-the_Greek_center_is_pushed_back.svg/800px-Third_phase_of_the_Battle_of_Marathon-the_Greek_center_is_pushed_back.svg.png"
    class="figure-img img-fluid rounded" />
  <figcaption class="figure-caption">Initial Sitaution from <a
      href="https://en.wikipedia.org/wiki/Battle_of_Marathon">Wikipedia</a></figcaption>
</figure>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec mi nec tellus volutpat vestibulum quis sed lectus. Aenean quis sem purus. Nulla mattis quam sed lectus dignissim maximus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nulla efficitur id risus id finibus. Nunc ornare gravida lectus eu suscipit. In sit amet mi erat. Nam dapibus consectetur tellus, iaculis mattis lectus lobortis a. Ut eu bibendum quam. Suspendisse molestie, sem nec sagittis porttitor, tortor ante ultrices est, vitae elementum nunc massa varius libero. Aliquam suscipit odio nisi, in fringilla neque malesuada a. Cras gravida, ex eu sagittis auctor, lorem libero fermentum nisi, ut imperdiet odio dui et risus. Praesent luctus aliquet lacus vitae consequat.</p>

  <p>In metus nulla, suscipit eleifend nibh a, sollicitudin porttitor nibh. Fusce auctor nulla sed pharetra feugiat. Duis interdum dolor diam, elementum lacinia libero auctor sit amet. Maecenas cursus venenatis urna sagittis placerat. Maecenas iaculis, est vel aliquet mattis, ipsum ante gravida lorem, et ornare sapien urna sit amet risus. Cras in est ac magna dapibus tempus. Praesent vitae feugiat eros, nec porta urna. Sed vel bibendum arcu. Vivamus viverra fermentum ante ac vehicula. Nullam malesuada id quam nec tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rhoncus pretium quam, vel imperdiet massa scelerisque vitae. Nullam in dui dignissim, lacinia tellus non, viverra turpis.</p>
    
  <p>Integer fringilla bibendum consequat. Ut vitae dui ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut nisl eu justo mattis porta quis nec ante. Morbi vehicula orci sollicitudin ex molestie, at lacinia eros eleifend. Mauris at ex hendrerit, aliquam magna a, egestas sem. Vivamus consectetur nibh eu augue vestibulum, quis pulvinar elit auctor. Aenean at viverra massa, ac vulputate magna. Donec aliquam rhoncus metus, vitae bibendum odio faucibus et.</p>
    
  <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas non lectus libero. Praesent volutpat elit sit amet ligula bibendum porttitor. Curabitur posuere accumsan augue ac bibendum. Integer varius ultrices placerat. Integer bibendum, sapien id tempus ultricies, augue leo consectetur magna, eget iaculis metus augue non ligula. Proin volutpat, mauris a scelerisque semper, urna risus vulputate leo, eu lobortis turpis ipsum sed tellus. Proin faucibus auctor ipsum convallis sodales.</p>
    
  <p>Donec egestas lobortis nisl et volutpat. Fusce id sollicitudin erat. Etiam porttitor neque eu purus tincidunt eleifend. Quisque venenatis tincidunt ipsum, sed ullamcorper arcu tempor sit amet. Curabitur congue tristique lectus, a varius turpis posuere id. Donec dapibus sed risus efficitur fringilla. Vivamus sit amet turpis a nulla accumsan condimentum id sed sem. Pellentesque consequat enim felis, id volutpat erat pulvinar ac. Nunc mauris quam, placerat nec tortor quis, maximus ultricies eros. Nunc posuere metus sit amet dui viverra, vel placerat tortor scelerisque. Morbi mollis metus et sem rhoncus congue. Donec viverra placerat augue, eget sollicitudin erat. Donec efficitur leo vel eros mattis ultricies.</p>

</section>
<section>
<figure class="figure float-start 8" style="padding: 15px">
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/eb/Fourth_phase_of_the_Battle_of_Marathon-the_Persian_wings_collapse.svg/800px-Fourth_phase_of_the_Battle_of_Marathon-the_Persian_wings_collapse.svg.png"
    class="figure-img img-fluid rounded" />
  <figcaption class="figure-caption">Initial Sitaution from <a
      href="https://en.wikipedia.org/wiki/Battle_of_Marathon">Wikipedia</a></figcaption>
</figure>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec mi nec tellus volutpat vestibulum quis sed lectus. Aenean quis sem purus. Nulla mattis quam sed lectus dignissim maximus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nulla efficitur id risus id finibus. Nunc ornare gravida lectus eu suscipit. In sit amet mi erat. Nam dapibus consectetur tellus, iaculis mattis lectus lobortis a. Ut eu bibendum quam. Suspendisse molestie, sem nec sagittis porttitor, tortor ante ultrices est, vitae elementum nunc massa varius libero. Aliquam suscipit odio nisi, in fringilla neque malesuada a. Cras gravida, ex eu sagittis auctor, lorem libero fermentum nisi, ut imperdiet odio dui et risus. Praesent luctus aliquet lacus vitae consequat.</p>

  <p>In metus nulla, suscipit eleifend nibh a, sollicitudin porttitor nibh. Fusce auctor nulla sed pharetra feugiat. Duis interdum dolor diam, elementum lacinia libero auctor sit amet. Maecenas cursus venenatis urna sagittis placerat. Maecenas iaculis, est vel aliquet mattis, ipsum ante gravida lorem, et ornare sapien urna sit amet risus. Cras in est ac magna dapibus tempus. Praesent vitae feugiat eros, nec porta urna. Sed vel bibendum arcu. Vivamus viverra fermentum ante ac vehicula. Nullam malesuada id quam nec tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rhoncus pretium quam, vel imperdiet massa scelerisque vitae. Nullam in dui dignissim, lacinia tellus non, viverra turpis.</p>
    
  <p>Integer fringilla bibendum consequat. Ut vitae dui ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut nisl eu justo mattis porta quis nec ante. Morbi vehicula orci sollicitudin ex molestie, at lacinia eros eleifend. Mauris at ex hendrerit, aliquam magna a, egestas sem. Vivamus consectetur nibh eu augue vestibulum, quis pulvinar elit auctor. Aenean at viverra massa, ac vulputate magna. Donec aliquam rhoncus metus, vitae bibendum odio faucibus et.</p>
    
  <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas non lectus libero. Praesent volutpat elit sit amet ligula bibendum porttitor. Curabitur posuere accumsan augue ac bibendum. Integer varius ultrices placerat. Integer bibendum, sapien id tempus ultricies, augue leo consectetur magna, eget iaculis metus augue non ligula. Proin volutpat, mauris a scelerisque semper, urna risus vulputate leo, eu lobortis turpis ipsum sed tellus. Proin faucibus auctor ipsum convallis sodales.</p>
    
  <p>Donec egestas lobortis nisl et volutpat. Fusce id sollicitudin erat. Etiam porttitor neque eu purus tincidunt eleifend. Quisque venenatis tincidunt ipsum, sed ullamcorper arcu tempor sit amet. Curabitur congue tristique lectus, a varius turpis posuere id. Donec dapibus sed risus efficitur fringilla. Vivamus sit amet turpis a nulla accumsan condimentum id sed sem. Pellentesque consequat enim felis, id volutpat erat pulvinar ac. Nunc mauris quam, placerat nec tortor quis, maximus ultricies eros. Nunc posuere metus sit amet dui viverra, vel placerat tortor scelerisque. Morbi mollis metus et sem rhoncus congue. Donec viverra placerat augue, eget sollicitudin erat. Donec efficitur leo vel eros mattis ultricies.</p>

</section>
<section>
<figure class="figure float-end 8" style="padding: 15px">
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Fifth_phase_of_the_Battle_of_Marathon-the_Persians_are_routed_and_retreat_to_their_ships.svg/800px-Fifth_phase_of_the_Battle_of_Marathon-the_Persians_are_routed_and_retreat_to_their_ships.svg.png"
    class="figure-img img-fluid rounded" />
  <figcaption class="figure-caption">Initial Sitaution from <a
      href="https://en.wikipedia.org/wiki/Battle_of_Marathon">Wikipedia</a></figcaption>
</figure>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec mi nec tellus volutpat vestibulum quis sed lectus. Aenean quis sem purus. Nulla mattis quam sed lectus dignissim maximus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nulla efficitur id risus id finibus. Nunc ornare gravida lectus eu suscipit. In sit amet mi erat. Nam dapibus consectetur tellus, iaculis mattis lectus lobortis a. Ut eu bibendum quam. Suspendisse molestie, sem nec sagittis porttitor, tortor ante ultrices est, vitae elementum nunc massa varius libero. Aliquam suscipit odio nisi, in fringilla neque malesuada a. Cras gravida, ex eu sagittis auctor, lorem libero fermentum nisi, ut imperdiet odio dui et risus. Praesent luctus aliquet lacus vitae consequat.</p>

  <p>In metus nulla, suscipit eleifend nibh a, sollicitudin porttitor nibh. Fusce auctor nulla sed pharetra feugiat. Duis interdum dolor diam, elementum lacinia libero auctor sit amet. Maecenas cursus venenatis urna sagittis placerat. Maecenas iaculis, est vel aliquet mattis, ipsum ante gravida lorem, et ornare sapien urna sit amet risus. Cras in est ac magna dapibus tempus. Praesent vitae feugiat eros, nec porta urna. Sed vel bibendum arcu. Vivamus viverra fermentum ante ac vehicula. Nullam malesuada id quam nec tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rhoncus pretium quam, vel imperdiet massa scelerisque vitae. Nullam in dui dignissim, lacinia tellus non, viverra turpis.</p>
    
  <p>Integer fringilla bibendum consequat. Ut vitae dui ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut nisl eu justo mattis porta quis nec ante. Morbi vehicula orci sollicitudin ex molestie, at lacinia eros eleifend. Mauris at ex hendrerit, aliquam magna a, egestas sem. Vivamus consectetur nibh eu augue vestibulum, quis pulvinar elit auctor. Aenean at viverra massa, ac vulputate magna. Donec aliquam rhoncus metus, vitae bibendum odio faucibus et.</p>
    
  <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas non lectus libero. Praesent volutpat elit sit amet ligula bibendum porttitor. Curabitur posuere accumsan augue ac bibendum. Integer varius ultrices placerat. Integer bibendum, sapien id tempus ultricies, augue leo consectetur magna, eget iaculis metus augue non ligula. Proin volutpat, mauris a scelerisque semper, urna risus vulputate leo, eu lobortis turpis ipsum sed tellus. Proin faucibus auctor ipsum convallis sodales.</p>
    
  <p>Donec egestas lobortis nisl et volutpat. Fusce id sollicitudin erat. Etiam porttitor neque eu purus tincidunt eleifend. Quisque venenatis tincidunt ipsum, sed ullamcorper arcu tempor sit amet. Curabitur congue tristique lectus, a varius turpis posuere id. Donec dapibus sed risus efficitur fringilla. Vivamus sit amet turpis a nulla accumsan condimentum id sed sem. Pellentesque consequat enim felis, id volutpat erat pulvinar ac. Nunc mauris quam, placerat nec tortor quis, maximus ultricies eros. Nunc posuere metus sit amet dui viverra, vel placerat tortor scelerisque. Morbi mollis metus et sem rhoncus congue. Donec viverra placerat augue, eget sollicitudin erat. Donec efficitur leo vel eros mattis ultricies.</p>

</section>