<h1 class="text-center">

  Important People You Should Know
</h1>

<h2>
  Greeks:
</h2>

<section class="container-fluid py-4">
  <div class="row">
    <div class="col-md-3 text-center">
      <figure class="figure" style="padding: 15px; width: 100%">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/30/Miltiades_%28Roman_replica%29.jpg/220px-Miltiades_%28Roman_replica%29.jpg"
          class="figure-img img-fluid rounded" />
        <figcaption class="figure-caption">Initial Sitaution from <a
            href="https://en.wikipedia.org/wiki/Miltiades">Wikipedia</a></figcaption>
      </figure>
    </div>

    <div class="col-md-9 align-self-center">
        Miltiades was a very important person to the Athenians during the battle of Marathon and was one of their keys to
        success.
        He was the general and leader on the day he led the Athenians to attack the Persians and force them to flee. He
        was the
        son of a chariot-racer known as Cimon Coalemos. He lived from 550-489 B.C.
    </div>
  </div>
</section>

<section class="container-fluid py-4">
  <div class="row">
    <div class="col-md-3 text-center">
      <figure class="figure" style="padding: 15px; width: 100%">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8a/Statue_of_Pheidippides_along_the_Marathon_Road.jpg/251px-Statue_of_Pheidippides_along_the_Marathon_Road.jpg"
          class="figure-img img-fluid rounded" />
        <figcaption class="figure-caption">Initial Sitaution from <a
            href="https://en.wikipedia.org/wiki/Pheidippides">Wikipedia</a></figcaption>
      </figure>
    </div>

    <div class="col-md-9 align-self-center">
        Pheidippides/Philippides was one of Athens best runners and was said to be the first person to run the marathon
        (26.1 miles) from Marathon to Athens do delivier the news that they won and died after delivering the message.  
        The Athenians also said that Pheidippides/Philippides ran 150 miles from Athens to Sparta in two days to ask for
         their help in defending Athens by taking a stand at Marathon.  He lived from 530-490 B.C.
    </div>
  </div>
</section>

<section class="container-fluid py-4">
  <div class="row">
    <div class="col-md-3 text-center">
      <figure class="figure" style="padding: 15px; width: 100%">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Cropped-removebg-herodotus-historian.png/220px-Cropped-removebg-herodotus-historian.png"
          class="figure-img img-fluid rounded" />
        <figcaption class="figure-caption">Initial Sitaution from <a
            href="https://en.wikipedia.org/wiki/Herodotus">Wikipedia</a></figcaption>
      </figure>
    </div>

    <div class="col-md-9 align-self-center">
       Herodotus is a legendary Greek ancient historian who wrote down many Greek battles.
       He was born in Halicarnassus which was a Greek city owned by the Persian Empire.  He is one of the main
       sources of many battes including the battle of Marathon.  He lived from 484-425 B.C.
    </div>
  </div>
</section>

<h2>
  Persians:
</h2>

<section class="container-fluid py-4">
  <div class="row">
    <div class="col-md-9 align-self-center">
      Darius I, also known as Darius the Great, was the king of Persia, Babylon, and Egypt and so he was called the king of kings.  He got so mad at the 
      Athenians and Eretrians for helping Ionia in the Ionian revolt that he made one of his servants tell him 3 times
      before dinner "Master, remember the Athenians".  He was born in 550 B.C., was king from 522-486 B.C. when he died.
      He was the father of Xerxes.
   </div>

   <div class="col-md-3 text-center">
      <figure class="figure" style="padding: 15px; width: 100%">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Darius_the_great._jpg.jpg/230px-Darius_the_great._jpg.jpg"
          class="figure-img img-fluid rounded" />
        <figcaption class="figure-caption">Initial Sitaution from <a
            href="https://en.wikipedia.org/wiki/Darius_the_Great">Wikipedia</a></figcaption>
      </figure>
    </div>

  </div>
</section>

<section class="container-fluid py-4">
  <div class="row">
    <div class="col-md-9 align-self-center">
      Datis was born in Media, Achaemenid Empire and served for the Persian Empire as an admiral and led the Persian 
      Empire next to Artaphernes during the first invasion of Greece.  Datis parents aren't note down however we know
      Datis had two sons who ended up serving under Xerxes as cavalry officers, their names were
      Harmamithres and Tithaeus.
   </div>

   <div class="col-md-3 text-center">
      <figure class="figure" style="padding: 15px; width: 100%">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/Datis_fighting_Kallimachos_at_the_Battle_of_Marathon_in_the_Stoa_Poikile_%28reconstitution%29.jpg/260px-Datis_fighting_Kallimachos_at_the_Battle_of_Marathon_in_the_Stoa_Poikile_%28reconstitution%29.jpg"
          class="figure-img img-fluid rounded" />
        <figcaption class="figure-caption">Initial Sitaution from <a
            href="https://en.wikipedia.org/wiki/Datis">Wikipedia</a></figcaption>
      </figure>
    </div>

  </div>
</section>

<section class="container-fluid py-4">
  <div class="row">
    <div class="col-md-9 align-self-center">
      The father of Artaphernes II was the brother of Darius I which made Artaphernes II the nephew of Darius I so Artaphernes II was
      Xerxes cousin.  Artaphernes II and Datis were sent to Eretria then to Athens to make them slaves.  Artaphernes II 
      lived from 492-480 B.C.
   </div>

   <div class="col-md-3 text-center">
      <figure class="figure" style="padding: 15px; width: 100%">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/Artaphernes_fighting_the_Greeks_at_the_Battle_of_Marathon_in_the_Stoa_Poikile_%28reconstitution%29.jpg/260px-Artaphernes_fighting_the_Greeks_at_the_Battle_of_Marathon_in_the_Stoa_Poikile_%28reconstitution%29.jpg"
          class="figure-img img-fluid rounded" />
        <figcaption class="figure-caption">Initial Sitaution from <a
            href="https://en.wikipedia.org/wiki/Artaphernes_(nephew_of_Darius_I)">Wikipedia</a></figcaption>
      </figure>
    </div>

  </div>
</section>

<section class="container-fluid py-4">
  <div class="row">
    <div class="col-md-9 align-self-center">
      Xerxes I, also known as Xerxes the Great, inherited all of his father's (Darius I) land and power and became the king of
      Persia, Babylon, and the Pharaoh of Egypt and as his father was called king of kings, so was Xerxes.  After Darius I
      died Xerxes was planning and arranging a second atack on Greece which would end up being the battle of Thermopylae which
      the Greeks would win.  Xerxes I lived from 518-465 B.C. and later was found to be King Ahasuerus in the book of Esther
      in the bible.
   </div>

   <div class="col-md-3 text-center">
      <figure class="figure" style="padding: 15px; width: 100%">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/National_Museum_of_Iran_Darafsh_%28785%29.JPG/220px-National_Museum_of_Iran_Darafsh_%28785%29.JPG"
          class="figure-img img-fluid rounded" />
        <figcaption class="figure-caption">Initial Sitaution from <a
            href="https://en.wikipedia.org/wiki/Xerxes_I">Wikipedia</a></figcaption>
      </figure>
    </div>

  </div>
</section>

<section>


  